*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none
}

body {
    background-color: black;
}

.score{
    color: white;
    font-family: Impact;
    font-size: 20px;
    text-align: center;
    margin-top: 15px
}

.amongtitle {
    text-align: center;
    width: 400px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    padding-bottom: 10px; 
    padding-top: 10px;
}

.subamongtitle{
    text-align: center;
    width: 350px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.allcrew{
    display: grid;
    height: 0px;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-rows: auto;
}

.crew{
    position: relative;
    height: 120px;
    width: 100px;
    overflow: hidden;
}


#zero {
    display: none;
}

#one {
    display: none;
}

#two {
    display: none;
}

#three {
    display: none;
}

#four {
    display: none;
}

#five {
    display: none;
}

#six {
    display: none;
}

#seven {
    display: none;
}

#eight {
    display: none;
}

.cursor img {
    position: absolute;
    height: 50px;
    z-index: 2;
    transform: translate(-10px, -40px);
    pointer-events: none;
  }

.knife {
    position: relative;
    z-index: -1;
    height: 45px;
    top: -100px;
    left: 30px;
    animation-name: knife;
    animation-duration: 1.5s;
} 

@keyframes knife {
    from {left: 35px;}
    to {left: 60px;}
  }


 .buttons {
    text-align: center; 
    margin-top: 425px;

}

.buttons button {
    padding: 15px 45px;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    font-family: Impact;
    font-size: 50
}

button.stop {
    display: none;
}